<!DOCTYPE html>
<html>
  <head>
    <title>Yaba</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>This is the Yet Another Blog Application</h1>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'New Post', new_post_path %>
    </nav>
    <%= yield %>
  </body>
</html>
